@use "../../../assets/styles/index" as *;

.create-will-button {
  padding: 1px !important ;
  width: 126px;
  height: 48px;
  background: var(--gradient960);
  border-radius: 200px !important;

  .button-cover-bg {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 200px;
    background: var(--gradient10);
    color: var(--white);
  }
}

.will-page {
  .summary-container {
    display: flex;
    justify-content: space-between;
    row-gap: 40px;
    flex-wrap: wrap;

    .balance-container,
    .will-vault-container {
      padding: 24px 16px;
      width: 49%;
      border-radius: 16px;
      border: 1px solid #3e3e3e;

      @include mq(800px) {
        width: 100%;
      }
    }

    .balance-container {
      p.balance {
        margin-bottom: 36px;
        font-size: 1.125em;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color: var(--grey50);
      }

      .total-balance {
        margin-bottom: 15px;
        padding-bottom: 22px;
        border-bottom: 1px solid #f9fafb33;
        p {
          margin-bottom: 20px;
          font-size: 0.75em;
          font-style: normal;
          font-weight: 500;
          color: var(--grey300);
        }

        h3 {
          font-size: 2em;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          color: var(--grey50);
        }
      }

      .wallet-will-container {
        .balance-summary {
          margin-bottom: 14px;
          width: 100%;
          display: flex;
          justify-content: space-between;

          .wallet {
            .d-flex {
              display: flex;
              align-items: center;
              gap: 4px;
              margin-bottom: 4px;

              .circle {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: var(--gradient4);
              }

              p {
                font-size: 0.875em;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                color: var(--grey75);
              }
            }

            .amount {
              font-size: 1.125em;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
              color: var(--grey75);
            }
          }
        }

        .progress-container {
          display: flex;
          width: 100%;
          height: 6px;
          border-radius: 8px;

          .will-percentage {
            background: var(--gradient4);
          }

          .sent-percentage {
            background: var(--gradient7);
          }
        }
      }
    }

    .will-vault-container {
      .d-flex {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 16px;

        img {
          width: 38px;
        }

        p {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          color: var(--grey300);
        }
      }

      .vault-list {
        .vault-item {
          margin-bottom: 20px;
          padding: 20px 18px;
          border-radius: 8px;
          background: #272727;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;

          @include mq(800px) {
            padding: 10px;
            gap: 10px;
          }

          img {
            width: 40px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .name-and-view {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: space-between;

            h5 {
              font-size: 1em;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              color: var(--grey50);

              @include mq(500px) {
                font-size: 0.75em;
              }
            }

            p {
              font-size: 0.75em;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
              color: var(--grey300);
            }

            button {
              padding: 8px;
              width: 77px;
              border-radius: 24px;
              background: #3e3e3e;
              color: var(--white);
              font-size: 0.875em;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
            }
          }
        }
      }
    }
  }

  .activity-container {
    margin-top: 34px;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #3e3e3e;
    &.empty {
      padding-bottom: 100px;
    }

    .topic {
      margin-bottom: 20px;
      font-size: 1.5em;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      color: var(--grey50);
    }
  }
}
