@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

.rounded-inherit{
  border-radius: inherit;
}

.active{
  background: linear-gradient(to right, #8AD4EC99, #EF96FF99, #FF56A999, #FFAA6C99);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 4px;
}