@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

.rounded-inherit {
  border-radius: inherit;
}

.active {
  background: linear-gradient(
    to right,
    #8ad4ec99,
    #ef96ff99,
    #ff56a999,
    #ffaa6c99
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 4px;
}

.radiant-btn {
  background: var(--gradient10) !important;
  color: #ffffff !important;
  border-radius: 200px !important;
  padding: 4px 18px !important;
}

.logo-text {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;

  background: var(--gradient9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
