@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

.rounded-inherit {
  border-radius: inherit;
}

html, body{
  scroll-behavior: smooth;
}

.active {
  background: linear-gradient(
    to right,
    #8ad4ec99,
    #ef96ff99,
    #ff56a999,
    #ffaa6c99
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 4px;
}

.logo-container {
  padding: 1px;
  width: 114px;

  .cover-logo {
    background-color: var(--black02);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-text {
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;

    background: var(--gradient9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
