@mixin mq($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

// webkit scrollbar mixins
@mixin webkitscrollbar {
  &::-webkit-scrollbar {
    display: block;
  }
  -ms-overflow-style: block; /* IE and Edge */
  scrollbar-width: block; /* Firefox */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #f0f2f3;
  }

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: #ff56a999;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #ff56a999;
  }
}

@mixin webkitnone {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
