@use "../../../assets/styles/index" as *;

.dashboard-page {
  .grey_btn {
    background: var(--gradient10) !important;
    color: var(--white);
    border-radius: 200px;
    padding: 4px 18px;
  }

  .summary-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 20px;
    .summary-container {
      height: 130px;
      width: 24%;
      min-width: 230px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      border-radius: 12px;
      border: 1px solid rgba(72, 72, 72, 0.38);
      background: #272727;
      @include mq(768px) {
        min-width: unset;
        width: 48%;
      }
      p {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        color: #d0d5dd;
      }
      h4 {
        margin-top: 16px;
        font-size: 2em;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        background: var(--gradient9);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .quick-actions {
    h5 {
      font-size: 1.125em;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      color: var(--white);
      margin-bottom: 16px;
    }

    .quick-flex {
      display: -webkit-box;
      gap: 16px;
      overflow-x: scroll;
      // @include webkitnone;

      .quick-action-item {
        min-width: 250px;
        border-radius: 8px;
        background: #272727;
        padding: 28px 20px;
        cursor: pointer;

        @include mq(768px) {
          min-width: 200px;
        }

        .icon-flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 60px;
          button {
            padding: 10px;
            border-radius: 200px;
            background: var(--gradient9);
            width: 100px;
            height: 30px;
            font-size: 0.5em;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: var(--white);
          }
        }

        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          color: var(--white);
        }
      }
    }
  }

  .notifications-container {
    margin-top: 34px;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #3e3e3e;
    &.empty {
      padding-bottom: 100px;
    }

    .topic {
      margin-bottom: 20px;
      font-size: 1.5em;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      color: var(--grey50);
    }

    .notification-list {
      width: 100%;

      .notification-item {
        margin-bottom: 45px;
        display: flex;
        align-items: center;
        gap: 12px;

        &:last-child {
          margin-bottom: 0;
        }
        @include mq(768px) {
          margin-top: 20px;
        }
        .icon-box {
          width: 60px;
          height: 60px;
          flex-shrink: 0;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          @include mq(768px) {
            width: 40px;
            height: 40px;
          }
          svg {
            width: 40px;
            width: 40px;
            @include mq(768px) {
              width: 20px;
              height: 20px;
            }
          }
          &.success {
            background-color: #e7f6ec;
          }
          &.error {
            background-color: #fbeae9;
          }
        }
        p.amount {
          font-size: 0.875em;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          opacity: 0.5;
          color: var(--grey75);
        }
        .d-flex {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 4px;
          .text {
            h6 {
              font-size: 1em;
              font-style: normal;
              font-weight: 500;
              line-height: 20px;
              color: var(--grey75);
              margin-bottom: 10px;
            }

            p {
              font-size: 0.875em;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
              opacity: 0.5;
              color: var(--grey75);
            }
          }
        }
      }
    }
  }
}
